<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
  <div class="container text-center">
    <h1 class="display-3">Tired of corporate greed?</h1>
    <br />
    <p class="lead">...us too.</p>
    <br />
    <br />
    <p class="lead">
      So we decided to keep a record of what corporations do in times of need.
      We believe there are still good companies out there.
    </p>
  </div>
</div>
<div>
  <% if @events.any? %>
    <h1>What is happening around the world?</h1>
    <% @events.each do |event| %>
      <div class="card" style="width: 18rem">
        <img src="<%= url_for event.image %>" alt="<%= event.name %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <p class="card-text"><%= truncate(event.synopsis, length: 100) %></p>
          <%= link_to "Read more", event_path(event.id), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>