<h1 class="display-4">
  <%= link_to @organization.name, organization_path(@organization), class: 'text-body' %> vs. <%= link_to @event.name, event_path(@event), class: 'text-body' %></h1>
<% if @evidences.empty? %>
  <h2>No evidence submitted for this event.</h2>
<% else %>
  <h2>Evidence</h2>
  <% @evidences.each do |evidence| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= evidence.headline %></h5>
        <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words evidence.updated_at %></small></p>
        <a href="<%= evidence.url %>" class="card-link">Source</a>
      </div>
    </div>
  <% end %>
<% end %>
