<!DOCTYPE html>
<html>
  <head>
    <title>CorporateResponse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render 'layouts/navbar' %>
      <section id="content" class="container-fluid">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
